In [6]:
!pip install sqlalchem
!pip install pymysql

ERROR: Could not find a version that satisfies the requirement sqlalchem (from versions: none)
ERROR: No matching distribution found for sqlalchem
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 2.7 MB/s eta 0:00:011
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [35]:
import pandas as pd
import requests
import sqlalchemy as alch
from getpass import getpass
import sys
sys.path.append('/Users/maperezdeayalas/Documents/Ironhack/API-Sentiment-Project-/SRC')
import sql_tools as st

In [7]:
password = getpass("Insert your SQL password: ")
dbName="Friends_API"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)
print("I am connected")

Insert your SQL passwords: ········
I am connected

In [8]:
data = pd.read_csv("../Data/friends_quotes_clean.csv")
data.sample()

,Unnamed: 0,season,episode_number,episode_title,author,quote
18360,23374,4,22,The Worst Best Man Ever,Ross,Good call!

In [10]:
data.shape # There are too many rows in my dataset meaning it will take SQL a while to load everything, so I will just select around 10% of the total lines

(49506, 6)

In [157]:
df = data.sample(5000)

In [158]:
df.shape

(5000, 6)

In [159]:
df['author'].value_counts()

Ross        915
Rachel      899
Joey        852
Chandler    835
Monica      761
Phoebe      738
Name: author, dtype: int64

In [160]:
df['season'].value_counts()

7     573
6     548
3     530
5     524
8     523
9     519
4     473
10    447
1     444
2     419
Name: season, dtype: int64

In [161]:
df.to_csv('../Data/friends_quotes_sample.csv')

Empiezo metiendo los datos

Antes de meter los datos hago programacion defensiva con la funcion check

In [162]:
# st.check('author','Rachel')

In [163]:
def check(what,string):
    """
    Parameterized function that checks in every table if the author, quote or episode title exists.
    It will return True if it exists and False if it does not
    """
    if what == "author":
        query = list(engine.execute(f"SELECT Name_Author FROM Authors WHERE Name_Author = '{string}'"))
        if len(query) > 0:
            return True
        else:
            return False
        
    elif what == "episode_title":
        query = list(engine.execute(f"SELECT Title_Episode FROM Episodes WHERE Title_Episode = '{string}'"))
        if len(query) > 0:
            return True
        else:
            return False
        
    elif what == "quote":
        query = list(engine.execute(f"SELECT Text FROM Quotes WHERE Text = '{string}'"))
        if len(query) > 0:
            return True
        else:
            return False

In [164]:
def check2(what, number):
    if what == "season":
        query = list(engine.execute(f"SELECT Season_Number FROM Seasons WHERE Season_Number = {number}"))
        if len(query) > 0:
            return True
        else:
            return False

In [165]:
check2('season',10)

False

In [166]:
authors = ['Rachel', 'Ross', 'Monica', 'Chandler', 'Phoebe', 'Joey']

In [167]:
def insertAuthor(authors):
    """
    This functions receives a list and then calls to the check function defined above to check if the author already exists in the database
    if not, it inserts the author
    """
    for i in authors:
        if check("author", i):
            return "the author already exists"
        else:
            engine.execute(f"INSERT INTO Authors (Name_Author) VALUES ('{i}');")

In [168]:
insertAuthor(authors)

In [169]:
seasons = [1,2,3,4,5,6,7,8,9,10]

In [170]:
def insertSeason(seasons):
    """
    This functions receives a list and then calls to the check function defined above to check if the season already exists in the database
    if not, it inserts the number of season
    """
    for i in seasons:
        if check2("season", i):
            return "the season already exists"
        else:
            engine.execute(f"INSERT INTO Seasons (Season_Number) VALUES ({i});")

In [171]:
insertSeason(seasons)

In [172]:
episodes = list(df['episode_title'].unique())

In [173]:
def insertEpisode(df):
    """
    This functions receives a list and then calls to the check function defined above to check if the episode already exists in the database
    if not, it inserts the episode
    """
    for i,r in df.iterrows():
        if check("episode", r.episode_title):
            return "the episode already exists"
        else:
            engine.execute(f"INSERT INTO Episodes (Title_Episode, Seasons_id_Season) VALUES ('{r.episode_title}', {r.season});")

In [174]:
insertEpisode(df)

In [175]:
def givemetheId(what,string):
    """
    It gives us the ID of what we ask knowing the element exists
    """
    if what == "author":
        return list(engine.execute(f"SELECT id_Author FROM Authors WHERE Name_Author ='{string}';"))[0][0]
    elif what == "episode_title":
        return list(engine.execute(f"SELECT id_Episode FROM Episodes WHERE Title_Episode ='{string}';"))[0][0]

In [176]:
givemetheId('author', 'Rachel')

1

In [177]:
givemetheId('episode_title', 'The Birth Mother')

339

In [178]:
def insertQuote(row):
    """
    Final function to insert the quotes 
    """
    if check("quote", row["quote"]):
        return "the quote already exists"
    else:
        if check("author", row["author"]):
            id_Author = givemetheId("author", row["author"])
        else:
            insertAuthor(fila["author"])
            id_Author = givemetheId("author", row["author"])
        
        if check("episode_title", row["episode_title"]):
            id_Episode = givemetheId("episode_title", row["episode_title"])
        else:
            insertEpisode(row["episode_title"])
            id_Episode = givemetheId("episode_title", row["episode_title"])
            
        engine.execute(f"""
        INSERT INTO Quotes (Text, Authors_id_Author, Episodes_id_Episode) VALUES
        ("{row['quote']}", {id_Author}, {id_Episode});
        """)

In [179]:
for index, row in df.iterrows():
    insertQuote(row)