# Cleaning the dataset

In [1]:
import pandas as pd
import sys
sys.path.append('/Users/maperezdeayalas/Documents/Ironhack/API-Sentiment-Project-/SRC')
import cleaning_functions as fc

In [2]:
df = pd.read_csv("../Data/friends_quotes.csv")

In [3]:
df.head()

,author,episode_number,episode_title,quote,quote_order,season
0,Monica,1.0,Monica Gets A Roommate,There's nothing to tell! He's just some guy I ...,0.0,1.0
1,Joey,1.0,Monica Gets A Roommate,"C'mon, you're going out with the guy! There's ...",1.0,1.0
2,Chandler,1.0,Monica Gets A Roommate,"All right Joey, be nice. So does he have a hum...",2.0,1.0
3,Phoebe,1.0,Monica Gets A Roommate,"Wait, does he eat chalk?",3.0,1.0
4,Phoebe,1.0,Monica Gets A Roommate,"Just, 'cause, I don't want her to go through w...",4.0,1.0

In [4]:
df.shape

(60291, 6)

In [5]:
df.isnull().sum()

author            0
episode_number    0
episode_title     0
quote             0
quote_order       0
season            0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60291 entries, 0 to 60290
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   author          60291 non-null  object
 1   episode_number  60291 non-null  float64
 2   episode_title   60291 non-null  object
 3   quote           60291 non-null  object
 4   quote_order     60291 non-null  float64
 5   season          60291 non-null  float64
dtypes: float64(3), object(3)
memory usage: 2.8+ MB

In [7]:
# print(list(df['author'].unique()))

In [8]:
df['author'] = df['author'].str.lower()

In [9]:
df.sample(3)

,author,episode_number,episode_title,quote,quote_order,season
2384,fun bobby,10.0,The Monkey,"Hey, sorry I'm late. But my, uh, grandfather, ...",188.0,1.0
19202,rachel,5.0,Joey's New Girlfriend,(really confused) Okay.,238.0,4.0
43280,monica,2.0,The Red Sweater,Theres a dude?,153.0,8.0

In [10]:
# print(list(df['author'].unique()))

In [11]:
df['author'] = df['author'].str.capitalize()

In [12]:
df.sample(3)

,author,episode_number,episode_title,quote,quote_order,season
29481,Phoebe,23.0,In Vegas,Awww! Now you're just my annoying friend Chand...,56.0,5.0
3227,Chandler,14.0,The Candy Hearts,"She'll love it. Go with the egg, my friend.",14.0,1.0
44968,Hooker,8.0,The Stripper,"Uh, no. But I could pretend to strip, but that...",164.0,8.0

In [13]:
df["episode_number"] = df["episode_number"].astype(dtype="int64")

In [14]:
df["season"] = df["season"].astype(dtype="int64")

In [15]:
df.drop(["quote_order"], axis=1, inplace=True)

In [16]:
df = df[['season', 'episode_number', 'episode_title', 'author', 'quote']]

I am only going to take the 6 main characters to reduce my data

In [17]:
df_final = df[((df['author'] == 'Rachel') | (df['author'] == 'Ross') | (df['author'] == 'Monica') | (df['author'] == 'Chandler') | (df['author'] == 'Phoebe') | (df['author'] == 'Joey'))]

In [18]:
df_final.shape

(49506, 5)

In [19]:
df_final.sample(10)

,season,episode_number,episode_title,author,quote
41907,7,22,Chandler's Dad,Rachel,I think shes checking out your beehive Ross.
43159,8,2,The Red Sweater,Ross,Thread!
58689,10,13,Joey Speaks French,Joey,mah
12198,3,3,The Jam,Monica,You're gonna what?
11970,3,2,No One's Ready,Ross,"No, but, your-your mad."
7687,2,8,The List,Ross,Number six: the way you smell.
59254,10,15,Estelle Dies,Chandler,Yeah.
9713,2,17,Eddie Moves In,Joey,You know it's funny you should mention that 'c...
31283,6,6,On The Last Night,Chandler,No! No! No! No(Joey looks at him)one can bea...
45381,8,10,Monica's Boots,Phoebe,"Stings son, seven years old and theres a pic..."

In [20]:
df_final["episode_title"] = df_final["episode_title"].apply(fc.substitute)
df_final["quote"] = df_final["quote"].apply(fc.substitute)

<ipython-input-20-e7d90f6c1764>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final["episode_title"] = df_final["episode_title"].apply(fc.substitute)
<ipython-input-20-e7d90f6c1764>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final["quote"] = df_final["quote"].apply(fc.substitute)

In [21]:
df_final.sample(5)

,season,episode_number,episode_title,author,quote
50043,9,5,Phoebe`s Birthday Dinner,Monica,(naughty in doorway) Welcome home. Ive missed ...
27758,5,17,Rachel`s Inadvertant Kiss,Monica,What happened?
15621,3,17,The Ski Trip,Rachel,"Wait, Im not just gonna drink somebodys old ..."
24023,5,1,Ross Says Rachel,Rachel,"No, you know what, I think you should go."
33900,6,15,"That Could Have Been, Part I & II",Ross,"No, she kept kicking me away!"

In [23]:
df_final.to_csv('../Data/friends_quotes_clean.csv')