# Inserting the data into SQL

In [ ]:
!pip install sqlalchem
!pip install pymysql

In [2]:
import pandas as pd
import requests
import sqlalchemy as alch
from getpass import getpass
import sys
sys.path.append('../')
import SRC.sql_tools as sq

In [11]:
data = pd.read_csv("../Data/friends_quotes_clean.csv")
data.sample()

,Unnamed: 0,season,episode_number,episode_title,author,quote
29999,36822,7,2,Rachel`s Book,Ross,So I guess you bought that book after we broke...

In [ ]:
df.groupby

In [21]:
data.shape # There are too many rows in my dataset meaning it will take SQL a while to load everything, so I will just select around 10% of the total lines

(49506, 6)

In [12]:
df = data.sample(5000) # Just taking a sample of 10% of my data to reduce the time with importing the data to SQL

In [13]:
df.shape

(5000, 6)

In [14]:
df['author'].value_counts()

Rachel      926
Ross        912
Monica      840
Joey        799
Chandler    790
Phoebe      733
Name: author, dtype: int64

In [15]:
df['season'].value_counts()

6     580
7     571
3     550
1     496
4     488
5     487
8     482
9     475
10    448
2     423
Name: season, dtype: int64

In [ ]:
df.to_csv('../Data/friends_quotes_sample.csv')

### Now I can insert my data into SQL with my functions defined in `sql_tools`

In [2]:
sq.check('author','Rachel')

True

In [4]:
sq.check2('season',10)

True

In [3]:
authors = ['Rachel', 'Ross', 'Monica', 'Chandler', 'Phoebe', 'Joey']

In [4]:
sq.insertAuthor(authors)

'the author already exists'

In [8]:
seasons = [1,2,3,4,5,6,7,8,9,10]

In [9]:
sq.insertSeason(seasons)

'the season already exists'

In [16]:
episodes = list(df['episode_title'].unique())

In [17]:
sq.insertEpisode(df)

In [18]:
sq.givemetheId('author', 'Rachel')

1

In [19]:
sq.givemetheId('episode_title', 'The Birth Mother')

339

In [20]:
for index, row in df.iterrows():
    sq.insertQuote(row)

Now that we have all the data in SQL, we can create the API with Flask API