# Creating the API

In [29]:
import requests
import random
import pandas as pd

### @GET

In [3]:
url = "http://127.0.0.1:5000/"

In [4]:
requests.get(url)

In [6]:
friends = requests.get("http://127.0.0.1:5000/characters")
friends.json()

[{'name': 'Rachel'},
 {'name': 'Ross'},
 {'name': 'Monica'},
 {'name': 'Chandler'},
 {'name': 'Phoebe'},
 {'name': 'Joey'}]

In [12]:
lines = requests.get("http://127.0.0.1:5000/lines")

In [17]:
lines

In [15]:
episodes = requests.get("http://127.0.0.1:5000/episodes")
episodes

In [27]:
episodes_author = requests.get("http://127.0.0.1:5000/quotes/Ross")
episodes_author

In [24]:
episode_author_line = requests.get("http://127.0.0.1:5000/quotes/Ross/In Barbados")
episode_author_line.json()

'[{"Text":"Oh, right, because he`s a scientist!","Name_Author":"Ross","Title_Episode":"In Barbados"},{"Text":"(apparently unruffled) Oh. Can I... can I ask who?","Name_Author":"Ross","Title_Episode":"In Barbados"},{"Text":"Finally, factoring the profusion of new species recently discovered: Gigantosaurus, Argentinasaurus...","Name_Author":"Ross","Title_Episode":"In Barbados"},{"Text":"I know! It`s like, if you knew, why didn`t you tell me, you know? I mean, call, or leave a note: `Hi, I just dropped by to say your wife`s gay`","Name_Author":"Ross","Title_Episode":"In Barbados"},{"Text":"... and while there are certainly vast differences between these Mesozoic fossiles and the example of Homo erectus...","Name_Author":"Ross","Title_Episode":"In Barbados"},{"Text":"And then, you try to make the best of a bad situation, so you float the idea of a threesome?","Name_Author":"Ross","Title_Episode":"In Barbados"},{"Text":"Well, what do you do?","Name_Author":"Ross","Title_Episode":"In Barbados"},{"Text":"Ok, we gotta go, yeah? So, we`ll see you guys tomorrow.","Name_Author":"Ross","Title_Episode":"In Barbados"},{"Text":"I think I know too but I`ve been really wrong about this stuff in the past, so...","Name_Author":"Ross","Title_Episode":"In Barbados"},{"Text":"(holding her hand) Hey, you ok?","Name_Author":"Ross","Title_Episode":"In Barbados"},{"Text":"Oh my God, wh-what happened?","Name_Author":"Ross","Title_Episode":"In Barbados"},{"Text":"(puzzled) Ok!... All right, thanks! Thank you so much, you guys! (to Phoebe) Oh, I can`t tell you how much it means to me that you were here!","Name_Author":"Ross","Title_Episode":"In Barbados"},{"Text":"The chocolates aren`t here yet.","Name_Author":"Ross","Title_Episode":"In Barbados"},{"Text":"Yep! I`d like to thank you guys for coming down here to complain about the rain and ruin my career!","Name_Author":"Ross","Title_Episode":"In Barbados"},{"Text":"(concluding his speech)... in a very real way we can bring the Mesozoic era into the 21st century. (pauses) Thank you!","Name_Author":"Ross","Title_Episode":"In Barbados"},{"Text":"Wow! This is very flattering, uh...","Name_Author":"Ross","Title_Episode":"In Barbados"},{"Text":"But all kidding aside, in much the same way that Homo ergaster [1] is now thought to be a separate species from Homo erectus...","Name_Author":"Ross","Title_Episode":"In Barbados"},{"Text":"What, oh my God. What did you do?","Name_Author":"Ross","Title_Episode":"In Barbados"}]'

### @POST

Now, I want to insert a quote not currently included in the sample I have imported to SQL. I want to include a phrase from Ross, so first I filter the original dataset with all the phrases from Ross in a specific episode 'The Ball'.

In [34]:
data = pd.read_csv("../Data/friends_quotes_clean.csv") # I first import the dataset
data.sample(1)

,Unnamed: 0,season,episode_number,episode_title,author,quote
36228,44201,8,5,Rachel`s Date,Rachel,I made the mistake of telling him that I was p...

In [33]:
df = pd.read_csv('../Data/friends_quotes_sample.csv') # Then the sample dataset

In [36]:
data.loc[(data['episode_title'] == 'The Ball') & (data['author'] == 'Ross')]

,Unnamed: 0,season,episode_number,episode_title,author,quote
23068,28816,5,21,The Ball,Ross,"Uh-huh, that`s why they call it Staten Island."
23070,28818,5,21,The Ball,Ross,"(he catches the ball and pauses, staring at Jo..."
23072,28820,5,21,The Ball,Ross,(looks at his watch) 2:17.
23074,28822,5,21,The Ball,Ross,Are you serious?!
23076,28824,5,21,The Ball,Ross,Wow! We are pretty good at this! Hey! We total...
23082,28830,5,21,The Ball,Ross,You bought Shawn Cassidy!
23085,28833,5,21,The Ball,Ross,What-what is it?!
23090,28838,5,21,The Ball,Ross,Why is it inside out?!
23092,28840,5,21,The Ball,Ross,How much did you pay for that?
23094,28842,5,21,The Ball,Ross,Yeah? How much?
23096,28844,5,21,The Ball,Ross,ON A CAT??!!!!
23099,28847,5,21,The Ball,Ross,"Free cats do that too, y`know. {Which reminds ..."
23102,28850,5,21,The Ball,Ross,"(To Joey) Hey, you wanna get something to eat ..."
23104,28852,5,21,The Ball,Ross,Yeah?
23106,28854,5,21,The Ball,Ross,"Uhh, yeah it would! Let`s do it!"
23109,28857,5,21,The Ball,Ross,What?
23112,28860,5,21,The Ball,Ross,I know! (Looks at the ball in his hands.) Don`...
23125,28884,5,21,The Ball,Ross,now when they found the remains of the Mesozoi...
23132,28893,5,21,The Ball,Ross,How do you know? You don`t have a watch.
23136,28897,5,21,The Ball,Ross,"Monica, whatever you do, do not drop that ball!"
23138,28899,5,21,The Ball,Ross,"2 hours, 27 minutes."
23141,28902,5,21,The Ball,Ross,Hey Rach!
23143,28904,5,21,The Ball,Ross,Check it out! Almost 3 hours without droppin` it!
23153,28914,5,21,The Ball,Ross,Yeah.
23155,28916,5,21,The Ball,Ross,Doesn`t sound as crazy as paying a thousand do...
23178,28951,5,21,The Ball,Ross,(catching the ball) Monica! Stop throwing it s...
23187,28960,5,21,The Ball,Ross,"It`s really a uh-uh three person game, y`know?"
23189,28962,5,21,The Ball,Ross,All right. (He gently tosses the ball to Chand...
23194,28967,5,21,The Ball,Ross,"Baking it didn`t help, huh?"
23237,29040,5,21,The Ball,Ross,I`m starving!
23242,29045,5,21,The Ball,Ross,I`m still hungry!
23244,29047,5,21,The Ball,Ross,I am!
23248,29051,5,21,The Ball,Ross,"Oh, thank God!"
23275,29088,5,21,The Ball,Ross,I know. My arm is killing me.

In [37]:
df.loc[(df['episode_title'] == 'The Ball') & (df['author'] == 'Ross')]

,Unnamed: 0,Unnamed: 0.1,season,episode_number,episode_title,author,quote
306,23109,28857,5,21,The Ball,Ross,What?
4363,23155,28916,5,21,The Ball,Ross,Doesn`t sound as crazy as paying a thousand do...

In [67]:
endpoint = "http://127.0.0.1:5000/newquote"

In [68]:
insert = {"quote": "ON A CAT??!!!!", "author" : 2, "episode" : 4}

In [69]:
requests.post("http://127.0.0.1:5000/newquote", data = insert)