In [11]:
import pandas as pd

In [54]:
df = pd.read_csv("../Data/friends_quotes.csv")

In [13]:
df.head()

,author,episode_number,episode_title,quote,quote_order,season
0,Monica,1.0,Monica Gets A Roommate,There's nothing to tell! He's just some guy I ...,0.0,1.0
1,Joey,1.0,Monica Gets A Roommate,"C'mon, you're going out with the guy! There's ...",1.0,1.0
2,Chandler,1.0,Monica Gets A Roommate,"All right Joey, be nice. So does he have a hum...",2.0,1.0
3,Phoebe,1.0,Monica Gets A Roommate,"Wait, does he eat chalk?",3.0,1.0
4,Phoebe,1.0,Monica Gets A Roommate,"Just, 'cause, I don't want her to go through w...",4.0,1.0

In [33]:
df.shape

(60291, 6)

In [35]:
df.isnull().sum()

author            0
episode_number    0
episode_title     0
quote             0
quote_order       0
season            0
dtype: int64

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60291 entries, 0 to 60290
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   author          60291 non-null  object
 1   episode_number  60291 non-null  float64
 2   episode_title   60291 non-null  object
 3   quote           60291 non-null  object
 4   quote_order     60291 non-null  float64
 5   season          60291 non-null  float64
dtypes: float64(3), object(3)
memory usage: 2.8+ MB

In [42]:
# print(list(df['author'].unique()))

In [40]:
df['author'] = df['author'].str.lower()

In [41]:
df.sample(3)

,author,episode_number,episode_title,quote,quote_order,season
13801,phoebe,9.0,The Football,"Umm, this stuffing is amazing. Do you think we...",282.0,3.0
41189,phoebe,19.0,Ross And Monica's Cousin,I dont know. (Timidly) A cowboy theme?,75.0,7.0
542,rachel,2.0,The Sonogram At The End,"(on phone) Hi, Mindy. Hi, it-it's Rachel. Yeah...",245.0,1.0

In [44]:
# print(list(df['author'].unique()))

In [45]:
df['author'] = df['author'].str.capitalize()

In [46]:
df.sample(3)

,author,episode_number,episode_title,quote,quote_order,season
12549,Rachel,5.0,Frank Jr.,"Now, you do realize that shes a cartoon, and ...",29.0,3.0
15576,Ross,16.0,The Morning After,"Okay, okay, okay.",271.0,3.0
9076,Monica,14.0,The Prom Video,"Um, yeah, so uh, uhh, listen, I'm sorry I didn...",128.0,2.0

In [56]:
df["episode_number"] = df["episode_number"].astype(dtype="int64")

In [62]:
df["season"] = df["season"].astype(dtype="int64")

In [63]:
df.drop(["quote_order"], axis=1, inplace=True)

In [68]:
df = df[['season', 'episode_number', 'episode_title', 'author', 'quote']]

In [69]:
df_final = df[((df['author'] == 'Rachel') | (df['author'] == 'Ross') | (df['author'] == 'Monica') | (df['author'] == 'Chandler') | (df['author'] == 'Phoebe') | (df['author'] == 'Joey'))]

In [70]:
df_final.shape

(45482, 5)

In [71]:
df_final.sample(5)

,season,episode_number,episode_title,author,quote
19971,4,9,They're Going To Party,Monica,Oh.
15673,3,17,The Ski Trip,Phoebe,"Y'know what, I can stay, Im gonna stay. Caus..."
41806,7,21,The Vows,Rachel,Okay!
41673,7,21,The Vows,Chandler,You'll get one.
30,1,1,Monica Gets A Roommate,Monica,No you don't.

In [72]:
df_final.to_csv('../Data/friends_quotes_clean.csv')